.about{
  padding: 2.5rem 0;
  & .container{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
    & .description{
      width: 100%;
      max-width: 100%;
    }
    & .profile-image{
      flex: 1;
      width: 100%;
      padding: 3rem;
      align-self: center;
      img{
        width: 250px;
        margin-left: auto;
        border-radius: 50%;
        float: right;
      }
    }

    & .profile-image{
      flex: 1;
      overflow: hidden;
      padding: 3rem;
      align-self: center;
      position: relative;
      &:before{
        position: absolute;
        content: "";
        top: -85px;
        left: 0;
        width: 50%;
        height: 100%;
        background-image: url(images/small-dot.svg);
        background-position: -70px 50px;
        z-index: -1;
      }
      &:after{
        position: absolute;
        content: "";
        bottom: -91px;
        right: 15px;
        width: 50%;
        height: 100%;
        background-image: url(images/small-dot.svg);
        z-index: -1;
      }
      img{
        max-width: 300px;
        margin-left: auto;
        border-radius: 50%;
        float: right;
        box-shadow: rgba(10, 36, 80, 0.90) 0px 0px 40px;
      }
    }
  }
  .title{
    font-size: 1.9rem;
    padding: 0.3rem 0;
    color: var(--gray);
    font-family: var(--title-font-family);
  }
  .skills{
    margin: 2rem 0;
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      width: 100%;

      li{
        padding: 0.6em 0.87rem;
        background-color: var(--ligt-gray);
        border-radius: 0.7rem;
        font-size: 0.76rem;
        box-shadow: rgba(16, 14, 23, 0.25) 0px 0px 30px;
        &:nth-child(1){
          background-color: #F4E44E;
        }
        &:nth-child(2){
          background-color: #F4804E;
        }
        &:nth-child(3){
          background-color: #7AF44E;
        }
        &:nth-child(4){
          background-color: #4EA5F4;
        }
      }
    }
  }
  & p:last-of-type{
    font-weight: 600;
  }
}

@media screen and (min-width: 768px){
  .about{
    padding: 4.5rem 0;
    & .container{
      display: flex;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;

      & .description{
        padding-right: 2rem;
        text-align: justify;
        flex: 2;
      }
      & .profile-image{
        flex: 1;
        overflow: hidden;
        padding: 3rem;
        align-self: center;
        position: relative;
        &:before{
          position: absolute;
          content: "";
          top: -85px;
          left: 103px;
          width: 50%;
          height: 100%;
          background-image: url(images/small-dot.svg);
          background-position: -70px 50px;
          z-index: -1;
        }
        &:after{
          position: absolute;
          content: "";
          bottom: -91px;
          right: 15px;
          width: 50%;
          height: 100%;
          background-image: url(images/small-dot.svg);
          z-index: -1;
        }
        img{
          max-width: 300px;
          margin-left: auto;
          border-radius: 50%;
          float: right;
          /*color: var(--primary-color);*/
          box-shadow: rgba(10, 36, 80, 0.90) 0px 0px 40px;
        }
      }
    }
    .title{
      font-size: 2.3rem;
      padding: 2rem 0;
    }
    .skills{
      margin: 2rem 0;
      ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        width: 64%;

        li{
          padding: 0.6em 1rem;
          background-color: var(--ligt-gray);
          border-radius: 0.7rem;
          font-size: 1rem;
          box-shadow: rgba(16, 14, 23, 0.25) 0px 0px 30px;
          &:nth-child(1){
            background-color: #F4E44E;
          }
          &:nth-child(2){
            background-color: #F4804E;
          }
          &:nth-child(3){
            background-color: #7AF44E;
          }
          &:nth-child(4){
            background-color: #4EA5F4;
          }
        }
      }
    }
    & p:last-of-type{
      font-weight: 600;
    }
  }
}